DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_5l1RqmHVgrAY@ep-still-union-b353jsxy-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=your_s3_bucket
ADMIN_SECRET=my_super_secret_admin_key